opencv-python==4.2.0.32
python-dateutil==2.5.0
matplotlib==2.0.2
scipy
pandas
sympy
nose
networkx
scikit-image
cycler==0.10
cython
h5py
scikit-learn==0.20.1
statistics
pandas_ml
pyxdg
opencv-contrib-python
python-interface
tqdm
sklearn
pyxdg
